nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #FFB6B9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin: 0 30px;
}



nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    margin: 0 15px;
    padding: 20px 25px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

nav ul li a:hover,
nav ul li a.active {
    color: white;
}


/* Search Box */

#searchbox {
  position: left;
  right: 0;
  top: 24px;
  width: 500px;
  pointer-events: none;
  z-index: 50;
  transition: 0.4s;
}

#searchbox input {
  height: 48px;
  width: 100%;
}


#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.2) url("images/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-blend-mode: overlay;
    color: white;
  }
  
  #banner h3 {
    background: black;
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
  }


.banner-photo{
    height: 200;
    width: 200;
}

  .read-more-container{
    display: flex;
    flex-direction: column;
    color: #111;
    gap: 1rem;
}

.container{
    padding: 2rem;
    background-color: #fff;
    border-radius: 2px;
    line-height: 1.4rem;
    box-shadow: 0 0 1rem rgba(0,0,0,.1);
}

.read-more-btn{
    color: #0984e3;
}

.read-more-text{
    display: none;
}

.read-more-text--show{
    display: inline;
}



.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color:black;
    font-size: 18 px;
    margin-bottom: 16 px;
}



input{
    height: 45px;
}


form .submit{
    background: #ff5722;
    border-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;

} 

form .submit:hover{
    background-color:darksalmon;
    cursor: pointer;
}




.card__image{
    height: 300px;
    width: 400px;
}